<div class="container">
      <h1 class="logo">Simple Bartender</h1>
      <ul class="nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>
  </nav>
  
  <section class="section-a">
    <div class="container">
      <div class="white">
        <h1>Your drinks, your tab.... simple</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
      <p></p>
  </div>
  </section>